// Backgrounds
$background-colour: #f6f6f6;
$background-colour-light: lighten($background-colour, 10%);
$background-colour-dark: darken($background-colour, 10%);

// Navbar
$navbar-colour-background: #444;
$navbar-colour-text: #fff;

// Text
$text-colour-default: #000;
$text-colour-light: #000;

// Colours
$dirty-white: #f3f3f3;
$blue: #548a92;
