@import "./colours.scss";
@import "./fonts.scss";

// Font defaults
a,
body,
button,
input {
  font: $font-size-default $font-family-default;
  font-family: $font-family-default;
  font-size: $font-size-default;
}

// Colour defaults
body {
  background-color: $background-colour !important;
  color: $text-colour-default;
  margin: 0;
  min-height: calc(100vh);
  padding-top: 50px;
  width: calc(100vw);
}

button {
  background-color: $background-colour;
  border: 0;
  cursor: pointer;
  margin: auto;
  outline: none;
}

.btn,
.btn:active,
.btn:focus,
.btn:hover,
.btn:visited {
  box-shadow: none !important;
  outline: none !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
