@import "../style/colours.scss";

.content-wrapper {
  padding: 20px 0;
}

%navbar-text {
  color: $navbar-colour-text !important;
}

.navbar-btn {
  background: inherit;
  border: none;
}

.app-nav,
.navbar-link {
  @extend %navbar-text;
}

.app-nav {
  background-color: $navbar-colour-background !important;
  border-color: $background-colour-light !important;
}
