@import "../style/colours.scss";

.content-wrapper {
  margin: auto 20px !important;
  padding: 20px 0;
}

.navbar-link {
  color: $text-colour-default !important;
}

.navbar-btn {
  background: inherit;
  border: none;
}
