@import "../../style/fonts";

.herdpage-wrapper {
  font-size: $font-size-biggest;
}

.herdpage-cattle-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;
}
