@import "../../style/colours";
@import "../../style/fonts";
@import "../../style/variables";

.cattleitem-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid black;
  padding: 2%;
  margin-bottom: 40px;
}

.cattleitem-image-wrapper {
  display: flex;
  align-items: center;
  align-self: center;
  overflow: hidden;
  width: 75%;
  margin-bottom: 20px;
}

.cattleitem-image {
  max-width: 100%;
  transform: rotate(90deg);
}

.cattleitem-default-image {
  max-width: 100%;
}

.cattleitem-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.cattleitem-show-button-wrapper {
  display: flex;
  justify-content: center;
}

.cattleitem-show-button {
}


.cattleitem-edit-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.cattleitem-edit-button {
}

.cattleitem-buttons-wrapper {
  display: flex;
  justify-content: space-around;
}

.cattleitem-save-button,
.cattleitem-cancel-button,
.cattleitem-remove-button {
}

@media screen and (max-width: $desktop) {
  .cattleitem-wrapper {
    width: 45%;
  }

  .cattleitem-field {
    font-size: 20px;
  }
}

@media screen and (max-width: $tablet) {
  .cattleitem-wrapper {
    width: 100%;
  }

  .cattleitem-field {
    font-size: 12px;
  }
}

@media screen and (min-width: $desktop) {
  .cattleitem-wrapper {
    width: 31%;
  }

  .cattleitem-field {
    font-size: 20px;
  }
}
