@import "../../style/colours.scss";
@import "../../style/fonts.scss";

.cattle-update-delete-component-wrapper {
  margin: auto;
  max-width: 800px;
  text-align: center;
}

.cattle-update-delete-component-form {
  border-color: black;
  border-style: groove;
  border-radius: 10px;
  position:relative;
}

.update-component-input {
}

.active {
  background: #0041C2;
  color: #ffffff;
}

.cattle-update-delete-component-button-update {
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  padding: 6px 8px;
  background-color: #40bf40;
  border-radius: 3px;
}

.cattle-update-delete-component-button-delete {
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  padding: 6px 10px;
  background-color: #E50909;
  border-radius: 3px;
}

.cattle-update-delete-component-button-cancel {
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  background-color: $background-colour-dark;
  padding: 6px 10px;
  border-radius: 3px;
}

.cattle-update-delete-component-data-label {
  margin: 10px 5px;
  padding:  9px 5px;
}
