@import "../../style/layout.scss";

.signin-wrapper {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  margin-bottom: 50px;
}

.signin-form-wrapper {
  align-self: center;
  background: $dark-blue;
  width: 50%;
  padding: $big-padding;
}

.signin-logo {
  padding-bottom: $big-padding;
  width: 100%;
}

.signin-input {
  height: 40px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 25px;
  padding: 10px;
}

%signin-button {
  border: 3px solid;
  font-size: 16px;
  height: 40px;
  padding: 8px 5px;
  width: 100%;
}

.signin-sign-in-button {
  margin-bottom: $very-big-padding;
}

.signin-sign-in-button,
.signin-sign-up-button {
  @extend %signin-button;
  background: transparent;
  border-color: $dirty-white;
  color: $dirty-white;
}

.signin-sign-in-button:hover,
.signin-sign-up-button:hover {
  background: $dirty-white;
  border-color: $dirty-white;
  color: $dark-blue;
}

.signin-sign-up-title {
  color: $dirty-white;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.signin-sign-up-button {
  @extend %signin-button;
}
