@import "../../style/layout.scss";

.uauth-wrapper {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  margin-bottom: 50px;
}

.uauth-form-wrapper {
  align-self: center;
  background: $dark-blue;
  width: 40%;
  padding: $big-padding;
}

.uauth-logo {
  padding-bottom: $big-padding;
  width: 100%;
}

.uauth-input {
  height: 40px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 25px;
  padding: 10px;
}

.uauth-submit-button {
  margin-bottom: $very-big-padding;
}

.uauth-submit-button,
.uauth-redirect-button {
  border: 3px solid;
  font-size: 16px;
  height: 40px;
  padding: 8px 5px;
  width: 100%;
  background: transparent;
  border-color: $dirty-white;
  color: $dirty-white;
}

.uauth-submit-button:hover,
.uauth-redirect-button:hover {
  background: $dirty-white;
  border-color: $dirty-white;
  color: $dark-blue;
}

.uauth-redirect-notice {
  color: $dirty-white;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 25px;
}
